---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Main.astro";

const posts = await getCollection("blog");

const sortedPosts = posts
  .filter((p) => !p.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <section class="animate-in">
    <h1>Blog</h1>
    <p class="text-accent">
      I sometimes write about my experiences, learnings, and thoughts on software.
    </p>
  </section>

  <ul class="animate-in flex flex-col gap-12 pt-12">
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>
            <h2 class="m-0 text-2xl font-bold">{post.data.title}</h2>
            <p class="text-accent text-base">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <p class="text-accent pt-2 text-base">{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
