---
import ExperienceNugget from "../../components/ExperienceNugget.astro";
import Layout from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
import { sortByFilePath } from "../../utils/sortByFilePath";

const philosophicalNuggets = await getCollection(
  "philosophicalExperienceNugget"
);
const sortedPhilosophicalNuggets = philosophicalNuggets.sort((a, b) =>
  sortByFilePath(a.filePath!, b.filePath!)
);

const technicalNuggets = await getCollection("technicalExperienceNugget");
const sortedTechnicalNuggets = technicalNuggets.sort((a, b) =>
  sortByFilePath(a.filePath!, b.filePath!)
);
---

<Layout>
  <h1>Experience Nuggets</h1>
  <p class="text-accent">
    These are bits and pieces I've picked up over the years. They are not
    revolutionary, but they are a good reminder of what I've learned, so far.
  </p>
  <p class="text-accent">
    Unapologetically inspired by <a
      class="text-primary cursor-pointer hover:underline"
      href="https://grugbrain.dev"
      target="_blank">The Grug Brained Developer</a
    >. Continuously updated.
  </p>

  <hr class="pt-12 mt-12 opacity-30" />

  <h3 class="-mt-12">Philosophical nuggets</h3>

  <div class="pt-6 flex flex-col gap-6">
    {
      sortedPhilosophicalNuggets.map((nugget, index) => {
        return <ExperienceNugget nugget={nugget} number={index + 1} />;
      })
    }
  </div>

  <hr class="pt-12 mt-12 opacity-30" />

  <h3 class="-mt-12">Technical nuggets</h3>
  <div class="pt-6 flex flex-col gap-6">
    {
      sortedTechnicalNuggets.map((nugget, index) => {
        return <ExperienceNugget nugget={nugget} number={index + 1} />;
      })
    }
  </div>
</Layout>
