---
import Layout from "../layouts/Main.astro";
import Button from "../components/Button.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <section>
    <h1>Hi there!</h1>
    <p>
      I'm Daniel, a Senior Full Stack Developer based in Amsterdam, proudly
      working at <a
        class="cursor-pointer text-primary hover:underline"
        href="https://ipractice.com/"
        target="_blank">iPractice</a
      >, a company focused on making mental health care accessible to everyone.
    </p>
    <p class="pt-8 text-base text-accent">
      I specialize in architecting, designing and developing scalable software
      solutions on Microsoft Azure and AWS platforms.
    </p>
    <p class="pt-8 text-base text-accent">
      On the backend, I'm experienced in .NET, Go, Python and SQL. On the
      frontend, I'm experienced in TypeScript, JavaScript (React, Astro, Solid,
      HTMX). Most recently, I've been working on React Native with Expo.
    </p>
  </section>

  <hr class="my-6 lg:my-20 opacity-30" />

  <section
    class="text-base text-accent flex flex-col lg:grid auto-cols-auto grid-flow-col gap-8"
  >
    <div class="flex flex-col items-center w-full">
      <img
        src="profile.png"
        class="w-[150px] w-[9vw] rounded-full"
        alt="Profile picture of Daniel Agg"
      />
      <div class="mt-6 w-fit lg:w-full">
        <Button
          label="Download my CV"
          onClick={() => window.open("/DanielAgg_CV.pdf")}
        />
      </div>
    </div>
    <section class="flex flex-col gap-4">
      <p>
        I advocate for modular monoliths with vertical slicing, Domain Driven
        Design, true CI/CD with Trunk Based Development and feature flags,
        fitness functions, procedural code and compartmentalizing volatile parts
        of our applications.
      </p>
      <p>
        I'm passionate about researching adaptable software architectures,
        enabling applications to gracefully evolve over time: I came to realize
        the value of an adaptable architecture, which can facilitate the
        ever-changing landscape of business needs and keep the tempo of
        development rapid, without accumulating technical debt.
      </p>
      <p>
        While I love geeking out over architectures, I like to think that I'm
        also pragmatic, always keeping in mind that my goal as a software
        developer is to deliver a working product, not the blueprint of it.
      </p>
    </section>
  </section>

  <hr class="my-6 lg:mt-24 lg:mb-12 opacity-30" />

  <section>
    <h3 class="pb-6">Experience</h3>

    <div class="flex flex-col gap-12">
      <Experience
        title="Senior Full Stack Developer"
        employer="iPractice"
        employerUrl="https://ipractice.com"
        location="Amsterdam, Netherlands"
        startDate={new Date("2023-12-01")}
        isCurrent
        description="Currently working on internal applications for psychologists, allowing them to manage their patients, incoming referrals, invoices and appointment scheduling. As a full stack developer, I am responsible both for back-, and frontends (.NET 8, React, Astro) as well as devops (Azure Pipelines) and infrastructure management (Azure resources)."
      />

      <Experience
        title="Senior Full Stack Developer"
        employer="Apiumhub"
        employerUrl="https://apiumhub.com"
        location="A Coruña, Spain"
        startDate={new Date("2021-04-01")}
        endDate={new Date("2023-11-01")}
        description="As a full stack developer, I was working on a React front-, and an ASP.NET Core Web API backend for a B2B application, as well as taking care of the project's DevOps duties and infrastructure on Azure."
      />

      <Experience
        title="Full Stack Developer"
        employer="Glownexus"
        employerUrl="https://www.glownexus.com/"
        location="Budapest, Hungary"
        startDate={new Date("2018-09-01")}
        endDate={new Date("2021-04-01")}
        description="I've worked on diverse projects, from small-scale serverless apps running on Azure Functions, to enterprise monolith solutions. My main responsibilities were around .NET backends."
      />

      <Experience
        title="Junior/Medior .NET Developer"
        employer="Atos Consulting"
        employerUrl="https://atos.net/en/"
        location="Budapest, Hungary"
        startDate={new Date("2016-05-01")}
        endDate={new Date("2018-09-01")}
        description="I was working on various, brown-field backends developed in the .NET ecosystem (with strong emphasis on SQL)."
      />
    </div>
  </section>
</Layout>
