---
interface Props {
  label: string;
  onClick: () => void;
}

const { label, onClick } = Astro.props;
---

<button
  class="border-primary/30 bg-primary/10 hover:bg-primary/30 text-primary w-full rounded-full border px-4 py-2 text-base"
  onclick={`(${onClick.toString()})()`}
>
  {label}
</button>
