---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  number: number;
  nugget:
    CollectionEntry<"technicalExperienceNugget"> | CollectionEntry<"philosophicalExperienceNugget">;
}

const { number, nugget } = Astro.props;
const { Content } = await render(nugget);
---

<section>
  <h2 class="m-0 text-2xl font-bold">{number}. {nugget.data.title}</h2>
  <div class="text-accent prose text-base">
    <Content />
  </div>
</section>
