---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  number: number;
  nugget:
    | CollectionEntry<"technicalExperienceNugget">
    | CollectionEntry<"philosophicalExperienceNugget">;
}

const { number, nugget } = Astro.props;
const { Content } = await render(nugget);
---

<section>
  <h2 class="text-2xl font-bold m-0">{number}. {nugget.data.title}</h2>
  <div class="text-base text-accent">
    <Content />
  </div>
</section>
