---
import Layout from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
import Project from "../../components/Project.astro";

const projects = await getCollection("project");
---

<Layout>
  <h1>Public projects</h1>
  <p class="text-accent">
    While most of my professional work is not open source, these are some of my
    side/hobby/personal projects.
  </p>

  <div class="flex flex-col divide-y divide-accent/20">
    {
      projects.map((project) => {
        return <Project project={project} />;
      })
    }
  </div>
</Layout>
